.game-board {
  margin: 100px;
  width: 500px;
  height: 500px;
  border: 1px solid #grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: silver;
}

.cell-game {
  border: solid 1px;
  cursor: pointer;
}
